In [45]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [46]:
import os
import warnings
warnings.filterwarnings('ignore')
os.environ["PYTHONWARNINGS"] = "ignore"

In [47]:
cur_folder_name = os.getcwd().split('/')[-1]
if cur_folder_name != "fairness-variance":
    os.chdir("../..")

print('Current location: ', os.getcwd())

Current location:  /home/denys_herasymuk/UCU/4course_2term/Bachelor_Thesis/Code/fairness-variance

In [48]:
from source.custom_classes.data_loaders import ACSDataset_from_demodq

dataset = ACSDataset_from_demodq(state=['GA'], year=2018, with_nulls=False)
dataset.X_data.head()

   AGEP  COW  SCHL  MAR  OCCP  POBP  RELP  WKHP  SEX  RAC1P
0    51    1    13    5  6260    13    16   0.0    1      2
1    56    0    16    3     0    17    16   0.0    2      1
2    23    1    20    5  4760    13    17  20.0    2      2
3    43    1    17    1  7340    13    16   0.0    1      2
4    20    1    19    5  4760    13    16  20.0    2      1

In [49]:
dataset.y_data.head()

0    0
1    0
2    0
3    0
4    0
Name: PINCP, dtype: int64

In [50]:
dataset.dataset.head()

,RT,SERIALNO,DIVISION,SPORDER,PUMA,REGION,ST,ADJINC,PWGTP,AGEP,...,PWGTP71,PWGTP72,PWGTP73,PWGTP74,PWGTP75,PWGTP76,PWGTP77,PWGTP78,PWGTP79,PWGTP80
0,P,2018GQ0000025,5,1,3700,3,13,1013097,68,51,...,124,69,65,63,117,66,14,68,114,121
1,P,2018GQ0000035,5,1,1900,3,13,1013097,69,56,...,69,69,7,5,119,74,78,72,127,6
2,P,2018GQ0000043,5,1,4000,3,13,1013097,89,23,...,166,88,13,13,15,91,163,13,89,98
3,P,2018GQ0000061,5,1,500,3,13,1013097,10,43,...,19,20,3,9,20,3,3,10,10,10
4,P,2018GQ0000076,5,1,4300,3,13,1013097,11,20,...,13,2,14,2,1,2,2,13,14,12

In [51]:
print('dataset.target -- ', dataset.target)
print('dataset.features -- ', dataset.features)
print('dataset.numerical_columns -- ', dataset.numerical_columns)
print('dataset.categorical_columns -- ', dataset.categorical_columns)
print('dataset.columns_with_nulls -- ', dataset.columns_with_nulls)

dataset.target --  PINCP
dataset.features --  ['AGEP', 'COW', 'SCHL', 'MAR', 'OCCP', 'POBP', 'RELP', 'WKHP', 'SEX', 'RAC1P']
dataset.numerical_columns --  ['AGEP', 'WKHP']
dataset.categorical_columns --  ['COW', 'SCHL', 'MAR', 'OCCP', 'POBP', 'RELP', 'SEX', 'RAC1P']
dataset.columns_with_nulls --  []